@page "/addbike"
@inject IBikeService BikeService
@inject IBikeRepairService BikeRepairService
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<h3>Add Bike</h3>

<EditForm Model="bike" OnSubmit="SaveBike" FormName="addBikeForm">
    <label>Marka</label>
    <InputText type="text" class="form-control w-25" @bind-Value="bike.Name" />
    <label>Opis problemu</label>
    <InputTextArea id="opis" name="opis" @bind-Value="@bike.Description" class="form-control w-25" rows="4"></InputTextArea>
    <label>Typ roweru</label>
    <InputText type="text" class="form-control w-25" @bind-Value="bike.Type" />
    <button type="submit" class="btn btn-primary mt-2">Zapisz</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    Bike bike { get; set; } = new Bike { Name = string.Empty };

    async Task SaveBike()
    {
        await BikeService.AddBike(bike);
        await BikeRepairService.AddBikeRepair(bike);
        NavigationManager.NavigateTo("/bikes");
    }
}
