@page "/editbike/{id:int}"
@inject IBikeService BikeService
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto
<h3>Edit Bike Info</h3>

<EditForm Model="bike" OnSubmit="HandleSubmit" FormName="editBike">
    <label for="name">Nazwa</label>
    <input type="text" id="name" name="name" @bind-value="@bike.Name" class="form-control w-25"/>
    <label for="opis">Opis</label>
    <InputTextArea id="opis" name="opis" @bind-Value="@bike.Description" class="form-control w-25" rows="4"></InputTextArea>
    <label for="typ">Typ</label>
    <input type="text" id="typ" name="typ" @bind-value="@bike.Type" class="form-control w-25" />
    <button type="submit" class="btn btn-primary mt-2">Zatwierdź</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }
    [SupplyParameterFromForm]
    Bike bike { get; set; } = new Bike { Name = string.Empty };

    protected override async Task OnInitializedAsync()
    {
        bike = await BikeService.GetBikeById(Id);
    }

    private async Task HandleSubmit()
    {
        await BikeService.UpdateBike(Id,bike);
        NavigationManager.NavigateTo("/bikes");
    }
}
