@page "/editbike/{id:int}"
@inject IBikeService BikeService
@rendermode InteractiveAuto

<h3>EditBike</h3>

<form>
    <label for="name">Nazwa</label>
    <input type="text" id="name" name="name" @bind-value="@bike.Name" class="form-control w-25"/>
    <label for="opis">Opis</label>
    <InputTextArea id="opis" name="opis" @bind-Value="@bike.Description" class="form-control w-25" rows="4"></InputTextArea>
    <label for="typ">Typ</label>
    <input type="text" id="typ" name="typ" @bind-value="@bike.Type" class="form-control w-25" />
    <button type="submit" class="btn btn-primary mt-2">Zatwierdź</button>
</form>

<!-- TODO form w którym będą zaciągać się dane i zaistnieje możliwość ich edycji-->
@code {
    [Parameter]
    public int Id { get; set; }
    [SupplyParameterFromForm]
    Bike bike { get; set; } = new Bike { Name = string.Empty };

    protected override async Task OnInitializedAsync()
    {
        bike = BikeService.GetBikeById(Id).Result;
    }
}
