@page "/administrator"
@inject IUserService UserService
@attribute [StreamRendering(true)]

<h3>Zarządzanie użytkownikami</h3>
<p><AddUserButton></AddUserButton></p>
<p>Wszyscy użytkownicy:</p>
@if (users == null)
{
    <p>Brak użytkowników!</p>
}
else
{
    <div class="container d-flex flex-row">
        @foreach (var user in users)
        {
            <div class="m-2">
            <Card>
                <CardHeader>
                    <CardTitle>@user.Role</CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        <p>Email: @user.Email</p>
                        <p><DeleteUserButton email="@user.Email"></DeleteUserButton><EditUserDataButton></EditUserDataButton></p>
                    </CardText>
                </CardBody>
            </Card>
            </div>
        }
    </div>
}

@code {
    private List<Users>? users = new List<Users>();
    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllUsers();
    }
}
