@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<Button @onclick="AddBike" class="btn btn-primary">Add New</Button>

@code {
    void AddBike()
    {
        NavigationManager.NavigateTo("/AddBike");
    }
}
