@inject IBikeService BikeService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<Button @onclick="DeleteBike" class="btn btn-danger">Delete</Button>

@code {

    [Parameter]
    public int Id { get; set; }

    void DeleteBike()
    {
        //await BikeService.DeleteBike(Id);
        NavigationManager.NavigateTo("/home");
    }
}
