@inject IBikeService BikeService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<Button @onclick="DeleteBike" class="btn btn-danger me-1">Delete</Button>

@code {

    [Parameter]
    public int Id { get; set; }

    public async Task DeleteBike()
    {
        await BikeService.DeleteBike(Id);
        RedirectToBikeList();
    }

    void RedirectToBikeList()
    {
        NavigationManager.NavigateTo("/bikes");
    }
}
